.container {
    background-color: black;
}

.heading {
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
}
.cardContainer {
    background-color: white;
    display: flex;
    justify-content: center;
    height: 450px;
    width: 250px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 3px  6px 10px rgba(0,0,0,.7);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
}

